@charset "UTF-8";




  /* section */


#section1{display: flex; flex-wrap: wrap; justify-content: center;}  
.box1{width:30%; height:100%; background-color: tomato;}

#section2 {display: flex; flex-wrap: wrap; justify-content: center; background-color: white;}

.box{width:30%; height:60%; 
    overflow: hidden;
    position:relative;
}

.box img{width:100%; height:auto; transition:all 0.5s ease;}

.box p{position:absolute; 
    display: none;
    top:50%; left:45%; 
    font-weight: bold;}

.box:hover img{opacity: 0.5;}
