@charset "UTF-8";

/* menu click */
#click {position:fixed; 
    margin-left:25%;
    width: 50%; 

}

.one{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
    color:black;
}

.one li a {padding: 20px 10px; text-decoration: none; color: black; display:inline-block;}

.o:hover a{ text-decoration: underline;}


  /* section */


#section12{display: flex; 

}  
.box12{width:100%; height:100vh;
    display: flex; justify-content: center; align-items: center;}

.box12 img{width:70%; height:auto;}

#section2 {display: flex; 
    justify-content: center;
    align-items: center; 
}

.box{width:30%; height:60%; 
    position:relative;
}

.box img{width:100%; height:auto; transition:all 0.5s ease;}

.box p{position:absolute; 
    display: none;
    top:50%; left:45%; 
    font-weight: bold;}

.box:hover img{opacity: 0.5;}
